{% extends "base.html" %}

{% block content %}

    <header><h1>Create Alert</h1></header>
    <section class="create-alert-form">
        <form method = "post">

            <div class="form-group">
                <label for="item_name">Item Name</label>
                <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Item"/>
            </div>

            <div class="form-group">
                <label for="item_url">Item URL</label>
                <input type="text" class="form-control" id="item_url" name="item_url" placeholder="https://allegro.pl/"/>
            </div>

            <div class="form-group">
                <label for="price_limit">Price Limit</label>
                <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder="100" aria-describedby="tagNameHelp"/>
                <small class="form-text text-muted" id="tagNameHelp">
                    What is the Price Limit
                </small>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>


        </form>


    </section>

{% endblock %}